# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
local_path.txt
*.egg-info/
.eggs/

# Environments
.env
.venv
env/
venv/
ENV/

# IDE files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
